<mat-card *ngIf="calculated">
  <mat-card-header>
    <mat-card-title>Wasserverbrauch durch Fleischkonsum</mat-card-title>
    <mat-card-subtitle>{{litersUsed | number:'1.0-0'}} Liter (Durchschnitt: {{averageLitersUsed | number:'1.0-0'}} Liter)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Hier folgt ein sinnvoller Vergleich
    <!--
    <p>
      Sie verbrauchen durch Ihren Fleischkonsum gleich viel Landfläche wie {{comparableAmountOfTennisFields | number:'1.0-1'}} Tennisfelder!
    </p>
    <div>
      <fillable-image-display *ngIf="comparableAmountOfTennisFields >= 0.05" [imageWidth]="50" [imageHeight]="28" [amountOfImages]="comparableAmountOfTennisFields" [imageName]="'tennis-field'"></fillable-image-display>
    </div>
  -->
  </mat-card-content>
</mat-card>
