.header-image-pascal {
   background-image: url('https://www.github.com/PascalHonegger.png');
   background-size: 40px;
}

.header-image-seraphin {
    background-image: url('https://www.github.com/StarlordTheCoder.png');
    background-size: 40px;
}