.header-image-pascal {
   background-image: url('https://avatars1.githubusercontent.com/u/14067784?v=4');
   background-size: cover;
}

.header-image-seraphin {
    background-image: url('https://avatars3.githubusercontent.com/u/14068276?v=4');
    background-size: cover;
}