<div fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image-pascal"></div>
      <mat-card-title>Pascal Honegger</mat-card-title>
      <mat-card-subtitle>Website Entwickler</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button href="mailto:pascal.honegger@stud.bms-zuerich.ch" target="_blank" rel="nofollow">E-Mail</a>
      <a mat-button href="https://github.com/PascalHonegger" target="_blank" rel="nofollow">Github</a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="header-image-seraphin"></div>
      <mat-card-title>Seraphin Rihm</mat-card-title>
      <mat-card-subtitle>Grafiker</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <a mat-button href="https://github.com/StarlordTheCoder" target="_blank" rel="nofollow">Github</a>
    </mat-card-actions>
  </mat-card>
</div>
