div.display-container {
    display: inline-block;
}

div.image-container {
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    /* Not supported in Edge -> http://caniuse.com/css-crisp-edges */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

div.outline-image {
    position: absolute;
    z-index: 2;
}

div.main-image {
    position: relative;
    z-index: 3;
}

div.titel-chip {
    margin-bottom: 8px;
}