<div *ngFor="let _ of arrayWithLength" class="container-container">
  <div [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + imagePath + ')'" class="image-container"></div>
</div>

<div class="container-container" *ngIf="partialImageWidth">
  <div  [style.width.px]="imageWidth"
        [style.height.px]="imageHeight"
        [style.background-image]="'url(' + outlineImagePath + ')'"
        class="image-container outline-image"></div>
  
  <div  [style.width.px]="(imageWidth / 100) * partialImageWidth" 
        [style.height.px]="imageHeight" 
        [style.margin-right.px]="imageWidth - ((imageWidth / 100) * partialImageWidth)"
        [style.background-image]="'url(' + imagePath + ')'"
        class="image-container"></div>
</div>