<div *ngFor="let image of fillableImages" class="container-container">
  <ng-container *ngIf="image.relativeWidth === 100; else croppedImageTemplate">
    <div [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + image.imagePath + ')'" class="image-container"></div>
  </ng-container>
  <ng-template #croppedImageTemplate>
    <div [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + image.outlineImagePath + ')'" class="image-container outline-image"></div>
    <div [style.margin-right.px]="imageWidth - ((imageWidth / 100) * image.relativeWidth)" [style.width.px]="(imageWidth / 100) * image.relativeWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + image.imagePath + ')'" class="image-container"></div>
  </ng-template>
</div>
