<div fxLayout="column" fxLayoutGap="20px">
  <h2>Wie viel Fleisch essen Sie durchschnittlich pro Woche?</h2>
  <div fxLayoutAlign="end">
    <mat-slide-toggle [(ngModel)]="calculationService.eatsNoMeat">Ich esse kein Fleisch</mat-slide-toggle>
  </div>
  <div fxLayout="column" *ngIf="!calculationService.eatsNoMeat">
    <meat-consumtion *ngFor="let meatType of calculationService.meatTypes" [meatName]="meatType.meatName" [defaultInKg]="meatType.averageConsumtionPerWeek" [gramPerPortion]="meatType.kgPerPortion * 1000"></meat-consumtion>
  </div>
  <div fxLayoutAlign="end">
    <a mat-raised-button color="primary" routerLink="/result">Resultat</a>
  </div>
</div>
