:host ::ng-deep div.mat-horizontal-content-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div.mat-step-margin > * {
    margin-left: 3px;
    margin-right: 3px;
}

div.mat-step-margin > :last-child {
    margin-bottom: 3px;
}