<div fxLayout="column" fxLayoutGap="20px">
  <h2>Essen Sie Fleisch?</h2>
  <mat-radio-group [(ngModel)]="eatsMeat">
    <mat-radio-button [value]="true">Ja</mat-radio-button>
    <mat-radio-button [value]="false">Nein</mat-radio-button>
  </mat-radio-group>
  <div fxLayout="column" *ngIf="eatsMeat">
    <h2>Wie viel pro Woche?</h2>
    <meat-consumtion meatName="Rindfleisch" [default]="300" [gramPerPortion]="150"></meat-consumtion>
    <meat-consumtion meatName="Schweinefleisch" [default]="350" [gramPerPortion]="150"></meat-consumtion>
    <meat-consumtion meatName="Hähnchenfleisch" [default]="400" [gramPerPortion]="120"></meat-consumtion>
  </div>
  <div *ngIf="eatsMeat !== undefined">
    Hier folgt das Rechen-Resultat.
  </div>
</div>