<mat-horizontal-stepper>
  <mat-step label="Daten">
    <div fxLayout="column" fxLayoutGap="20px">
      <h2>Wie viele Fleisch essen Sie pro Woche?</h2>
      <mat-slide-toggle class="radio-box" [(ngModel)]="eatsNoMeat">Ich esse kein Fleisch</mat-slide-toggle>
      <div fxLayout="column" *ngIf="!eatsNoMeat">
        <meat-consumtion meatName="Rindfleisch" [default]="250" [gramPerPortion]="sourceService.amountOfMeatPerLargePortion.value * 1000"></meat-consumtion>
        <meat-consumtion meatName="Schweinefleisch" [default]="1015" [gramPerPortion]="sourceService.amountOfMeatPerLargePortion.value * 1000"></meat-consumtion>
        <meat-consumtion meatName="Hähnchenfleisch" [default]="373" [gramPerPortion]="sourceService.amountOfWingedMeatPerLargePortion.value * 1000"></meat-consumtion>
        <meat-consumtion meatName="Fisch" [default]="400" [gramPerPortion]="120"></meat-consumtion>
      </div>
      <div fxLayoutAlign="end">
        <button mat-raised-button color="primary" matStepperNext>Weiter</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Resultat" [editable]="false">
    <h1>Resultat</h1>
    <p>Hier folgt das Rechen-Resultat.</p>
    <div>
      <button mat-raised-button color="primary" matStepperPrevious>Zurück</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
