<mat-card *ngIf="calculated">
  <mat-card-header>
    <mat-card-title>Landverbrauch durch Fleischkonsum</mat-card-title>
    <mat-card-subtitle>{{metersSquared | number:'1.0-0'}}m² (Durchschnitt: {{averageMetersSquared | number:'1.0-0'}}m²)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Sie verbrauchen durch Ihren Fleischkonsum gleich viel Landfläche wie {{comparableAmountOfTennisFields | number:'1.1-1'}} Tennisfelder!
    </p>
    <div>
      <fillable-image-display *ngIf="comparableAmountOfTennisFields >= 0.05"
        [imageWidth]="50" [imageHeight]="28"
        [amountOfImages]="comparableAmountOfTennisFields" imageName="tennis-field"
        describingTitle="Der Platzverbrauch ist gleich gross wie {{comparableAmountOfTennisFields | number:'1.1-1'}} Tennisfeldern"></fillable-image-display>
    </div>
  </mat-card-content>
</mat-card>
