<mat-card *ngIf="calculated">
  <mat-card-header>
    <mat-card-title>Landverbrauch</mat-card-title>
    <mat-card-subtitle>{{metersSquared | number:'1.0-0'}}m² (Durchschnitt: {{averageMetersSquared | number:'1.0-0'}}m²)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      <fillable-image-display [imageWidth]="78.2375" [imageHeight]="48.2625"
        [amountOfImages]="comparableAmountOfTennisFields" imageName="tennis-field"
        describingTitle="Der Platzverbrauch ist gleich gross wie {{comparableAmountOfTennisFields | number:'1.1-1'}} Tennisfelder (⌀ {{averageAmountOfTennisFields | number:'1.1-1'}})"></fillable-image-display>
    </div>
  </mat-card-content>
</mat-card>
