<mat-toolbar class="app-toolbar mat-toolbar mat-primary" role="toolbar">
  <div fxLayout="row" class="nav-flex-div">
    <div fxFlex class="main-text">
      Fleisch &amp; Umwelt
    </div>
    <div fxFlexAlign="right" fxHide fxShow.gt-sm class="mat-toolbar-layout">
      <div class="mat-toolbar-row">
        <ul role="navigation">
          <li *ngFor="let link of links">
              <a class="nav-link" [routerLink]="link.url" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>{{link.matIcon}}</mat-icon>
                <span>{{link.content}}</span>
              </a>
          </li>
        </ul>
      </div>
    </div>
    <div fxFlexAlign="right" fxShow fxHide.gt-sm>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="align-right">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="link.url" mat-menu-item *ngFor="let link of links">
          <mat-icon>{{link.matIcon}}</mat-icon>
          <span>{{link.content}}</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<main>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer>
<!--
  <ng2-adsense></ng2-adsense>
-->
</footer>