.app-toolbar {
  color: white !important;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 10;
  position: relative;
}

.main-container {
  padding: 0 54px;
}

main {
  padding-left: 16px;
  padding-right: 16px;
}

a.active-link {
  background: hsla(0,0%,100%,.15);
}

.app-title {
  text-align: left;
  font-weight: bold;
}

.menu-link {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-flex-div {
  width: 100%;
}

header {
  text-align: center;
  padding-top: 20px;
}