<mat-card *ngIf="calculated">
  <mat-card-header>
    <mat-card-title>Treibhausgase aufgrund Fleischkonsum</mat-card-title>
    <mat-card-subtitle>{{kgCo2 | number:'1.0-0'}}kg CO₂ (Durchschnitt: {{averageKgCo2 | number:'1.0-0'}}kg)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Sie produzieren durch Ihren Fleischkonsum gleich viel CO₂ wie ein Durchschnittsauto in {{comparableDrivenMeters / 1000 | number:'1.0-0'}} Kilometer!
    </p>
    <p>
      Ein Durchschnittsfahrer würde dafür {{comparableAmountOfCarDays | number:'1.0-0'}} Tage ({{comparableAmountOfCarYears | number:'1.0-2'}} Jahre) benötigen!
    </p>
    <div>
      <fillable-image-display *ngIf="comparableAmountOfCarYears >= 0.005"
      [imageWidth]="50" [imageHeight]="28"
      [amountOfImages]="comparableAmountOfCarYears" imageName="car"
      describingTitle="{{comparableAmountOfCarYears | number:'1.1-1'}} Durchschnittsfahrer erzeugen den selben Ausstoss CO₂ in einem Jahr"></fillable-image-display>
    </div>
  </mat-card-content>
</mat-card>
