<mat-expansion-panel #expansionPanel>
  <mat-expansion-panel-header>
    <mat-panel-title fxFlex="45%">
      {{meatName}}
    </mat-panel-title>
    <ng-container *ngIf="advancedMode; then advancedDescription; else basicDescription"></ng-container>
    <ng-template #advancedDescription>
      <mat-panel-description>
        {{effectiveGramPerWeek}}g
      </mat-panel-description>
    </ng-template>
    <ng-template #basicDescription>
      <mat-panel-description>
        {{mealsContainingMeat}} {{ mealsContainingMeat === 1 ? 'Portion' : 'Portionen' }}
      </mat-panel-description>
    </ng-template>
  </mat-expansion-panel-header>
  <div fxLayout="column" class="content">
    <div fxLayoutAlign="end">
      <mat-slide-toggle [(ngModel)]="advancedMode">Exakt</mat-slide-toggle>
    </div>
    <ng-container *ngIf="advancedMode; else basicOptions">
      <h2>Wie viel Gramm {{meatName}} essen Sie pro Woche?</h2>
      <div>
        <mat-form-field fxFlex>
          <input matInput required pattern="\d*" type="number" [min]="0" [max]="maxPortionsPerWeek * gramPerPortion" placeholder="Gramm {{meatName}}" [formControl]="gramFormControl">
          <mat-error *ngIf="gramFormControl.hasError('required') || gramFormControl.hasError('pattern')">
            Geben Sie eine ganzzahl Zahl ein
          </mat-error>
          <mat-error *ngIf="gramFormControl.hasError('max')">
            Geben Sie eine kleinere Zahl ein
          </mat-error>
        </mat-form-field>
      </div>
    </ng-container>
    <ng-template #basicOptions>
      <h2>Wie viele <strong>Portionen</strong> mit {{meatName}} essen Sie pro Woche?</h2>
      <div>
          <mat-slider fxFlex
            [max]="maxPortionsPerWeek"
            [min]="0"
            [step]="1"
            [thumb-label]="true"
            [value]="mealsContainingMeat"
            (change)="mealsContainingMeat = $event.value">
          </mat-slider>
      </div>
    </ng-template>
    <div fxLayoutAlign="center">
      <button mat-button (click)="expansionPanel.close()">Schliessen</button>
    </div>
  </div>
</mat-expansion-panel>