<mat-card *ngIf="calculated">
  <mat-card-header>
    <mat-card-title>{{meatType.animalName}}</mat-card-title>
    <mat-card-subtitle>Sie essen {{effectiveConsumtion | number:'1.0-0'}}kg {{meatType.meatName}} (Durchschnitt: {{averageConsumtion | number:'1.0-0'}}kg)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      Durch Ihren Konsum von {{meatType.meatName}} sterben {{effectiveKilledAnimals | number:'1.0-2'}} {{meatType.animalNamePlural}}.
      <p *ngIf="effectiveKilledAnimals - averageKilledAnimals >= 0.005">
        Das sind {{effectiveKilledAnimals - averageKilledAnimals | number:'1.0-2'}} mehr als der Durchschnitt :(
      </p>
      <p *ngIf="averageKilledAnimals - effectiveKilledAnimals >= 0.005">
          Das sind {{averageKilledAnimals - effectiveKilledAnimals | number:'1.0-2'}} weniger als der Durchschnitt :)
      </p>
    </div>
    <div>
      <fillable-image-display *ngIf="effectiveKilledAnimals >= 0.005" [imageWidth]="50" [imageHeight]="28" [amountOfImages]="effectiveKilledAnimals" [imageName]="meatType.imageBaseName"></fillable-image-display>
    </div>
  </mat-card-content>
</mat-card>
