<mat-card *ngIf="calculated">
  <mat-card-header>
    <mat-card-title>{{meatType.animalName}}</mat-card-title>
    <mat-card-subtitle>{{(effectiveConsumtionPerWeek * weeksPerYear).toFixed(0)}}kg {{meatType.meatName}} pro Jahr</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div>
      Durch Ihren Konsum von {{meatType.meatName}} sterben Jährlich {{effectiveKilledAnimalsPerYear.toFixed(2)}} {{meatType.animalNamePlural}}.
      <div *ngIf="effectiveKilledAnimalsPerYear - averageKilledAnimalsPerYear > 0.009">
        Das sind {{(effectiveKilledAnimalsPerYear - averageKilledAnimalsPerYear).toFixed(2)}} mehr als der Durchschnitt :(
      </div>
      <div *ngIf="averageKilledAnimalsPerYear - effectiveKilledAnimalsPerYear > 0.009">
          Das sind {{(averageKilledAnimalsPerYear - effectiveKilledAnimalsPerYear).toFixed(2)}} weniger als der Durchschnitt :)
      </div>
    </div>
    <div *ngFor="let image of animalImages" class="container-container">
      <ng-container *ngIf="image.relativeWidth === 100; else croppedImageTemplate">
        <div [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + image.imagePath + ')'" class="image-container"></div>
      </ng-container>
      <ng-template #croppedImageTemplate>
        <div [style.width.px]="imageWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + image.outlineImagePath + ')'" class="image-container outline-image"></div>
        <div [style.width.px]="(imageWidth / 100) * image.relativeWidth" [style.height.px]="imageHeight" [style.background-image]="'url(' + image.imagePath + ')'" class="image-container"></div>

        <!--
        <img [style.margin-bottom.px]="-imageHeight" [src]="image.outlineImagePath" [width]="imageWidth" [height]="imageHeight">
        <div [style.width.px]="imageWidth" [style.height.px]="imageHeight" class="crop-container" [style.margin-left.px]="-(imageWidth - (imageWidth / 100) * image.relativeWidth)">
          <img [src]="image.imagePath" [width]="imageWidth" [height]="imageHeight" [style.margin-left.px]="imageWidth - (imageWidth / 100) * image.relativeWidth">
        </div>
      -->
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
