<div fxLayout="column">
  <h2>Umsetzung</h2>
  <p>
    Diese Website führt alle Berechnungen lokal auf Ihrem Gerät aus!
    Daher kann diese Website auch ohne Internetverbindung verwendet werden.
    Der Quellcode kann frei auf <a rel="nofollow" target="_blank" href="https://github.com/PascalHonegger/FleischUndUmwelt">GitHub</a> eingesehen werden.
  </p>
  <h2>Quellen</h2>
  <div>
    <div>
      <mat-form-field fxFlex floatPlaceholder="never">
        <input matInput placeholder="Quelle suchen" [(ngModel)]="dataSource.filter">
        <i matSuffix class="material-icons">search</i>
      </mat-form-field>
    </div>

    <mat-table class="mat-elevation-z6" [dataSource]="dataSource">

      <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef>Quelle</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.url; else elseTemplate">
            <a [href]="row.url" rel="nofollow" target="_blank">{{row.title}}</a>
          </ng-container>
          <ng-template #elseTemplate>
            {{row.title}}
          </ng-template>
          <div class="mat-caption">{{row.description}}</div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="facts">
        <mat-header-cell *matHeaderCellDef>Fakten</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <p class="mat-caption" *ngFor="let fact of row.facts">
            {{fact.description}}
          </p>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass.xs]="['row-small-padding']" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
