<div fxLayout="column">
  <div>
    <div>
      <mat-form-field fxFlex floatPlaceholder="never">
        <input matInput placeholder="Quelle suchen" [(ngModel)]="dataSource.filter">
        <i matSuffix class="material-icons">search</i>
      </mat-form-field>
    </div>

    <mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="source">
        <mat-header-cell *matHeaderCellDef>Quelle</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.url; else elseTemplate">
            <a [href]="row.url" rel="nofollow">{{row.title}}</a>
          </ng-container>
          <ng-template #elseTemplate>
            {{row.title}}
          </ng-template>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
        <mat-cell *matCellDef="let row"><div class="mat-caption">{{row.description}}</div></mat-cell>
      </ng-container>

      <ng-container matColumnDef="facts">
        <mat-header-cell *matHeaderCellDef>Fakten</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <p class="mat-caption" *ngFor="let fact of row.facts">
            {{fact.description}}
          </p>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row [ngClass.xs]="['row-no-padding']" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
